<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Creații Gălățene</title>
    <link href="{{ url_for('static', filename='styles/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/sticky-menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/add_article.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/sign-up.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/log-in.css') }}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Creații Gălățene</a>
            </div>
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav">
                    
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top">Acasă</a>
                    </li>

                </ul>

            </div>

        </div>	
    </nav>

    <div class="form-sign-up">
        <div class="container">
            <div class="content">
                <div class="text">
                    Viitorul tau articol de Succes
                </div>
                <form action = "/AdaugareArticol?username={{username}}&password={{password}}" method = "POST">
                    <div class="field">
                        <span class="fa fa-user"></span>
                        <input name = "title" type = "text" placeholder = "Titlul Articolului" id = "title_article" autocomplete="off" value = "" required/>
                    </div>

                    <div class="field">
                        <span class="fa fa-lock"></span>
                        <textarea class = "context_text" name = "context_article" type="text" placeholder="Incepe-ti Articolul" id = "context_article" autocomplete="off" value = "" required>
                        </textarea>
                    </div>
                    <div class="field">
                        <span class="fa fa-lock"></span>
                        <textarea class = "context_text" name = "description_article" type="text" placeholder="Un rezumat al articolului" id = "summary_article" autocomplete="off" value = "" required>
                        </textarea>
                    </div>
                    <button class="btn" type="submit"> Pasul Urmator </button>
                    <button class="btn" type="reset">Reset</button>
                </form>

            </div>
        </div>
    </div>
	<a id="back2Top" title="Back to top" href="#">&#10148;</a>
    
    <script type = "text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    
    <script type = "text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    
    <script type = "text/javascript" src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
     
    <script type = "text/javascript" src="{{ url_for('static', filename='js/add_article.js') }}"></script>
</body>

</html>