<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Creații Gălățene</title>
    <link href="{{ url_for('static', filename='styles/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/sticky-menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/add_article.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/sign-up.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/my_articles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/log-in.css') }}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top">Creații Gălățene</a>
            </div>
        </div>	
    </nav>
    <div class = "Greet_Articles">
        <h1></h1>
    </div>
    {%for row in data%}
    <div class = "container">
        <ul class = "row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>{{ row[1] }}</h4>
                    </div>
                    <div class="panel-body">
                        </p>
                            <figure>
                                    {{row[0]}}
                            </figure>
                        <p>
                        <p>
                            <b>Context:</b><br>
                            {{ row[3] }}
                        </p>
                        <p>
                        Aprecieri: {{ row[7] }}
                        </p>
                        {% if error %}
                            <div class = "error">        
                                <p class = "error" color = "red"><strong>Eroare: </strong> {{ error }} </p>
                            </div>
                        {% endif %}
                        {% if not liked_article_by_user%}
                            <form action = "/ArticleRead?username={{username}}&id={{Id}}" method="POST">
                                <button type = "submit" class = "button-like" method = "POST" value = "LIKED" onclick = "ARead()" name = "liked_button">Like</button>
                            </form>
                        {% endif %}
                        {% if liked_article_by_user %}
                            <form action = "/ArticleRead?username={{username}}&id={{Id}}" method="POST">
                                <button type = "submit" class = "button-like" method = "POST" value = "LIKED" onclick = "ARead()" name = "liked_button">Liked</button>
                            </form>
                        {% endif %}
                        </div>
                </div>
            </div>
        </ul>
    </div>
    {% endfor %}
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>
    <script type = "text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>