<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Creații Gălățene</title>
    <link href="{{ url_for('static', filename='styles/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/sticky-menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/log-in.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/sign-up.css') }}" rel="stylesheet">  
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="/Acasa">Creații Gălățene</a>
            </div>
        </div>
    </nav>
    
    <div class="form-sign-up">
        <div class="container">
            <div class="content">
                <div class="text">
                    Adresa dumneavoastra de mail
                </div>
                <form method = "POST" action = "/AdresaEmailPass">
                    <div class="field">
                        <span class="fa fa-lock"></span>
                        <input name = "email_input" type="text" placeholder="Email" id = "cod" autocomplete="off" value = ""/>
                    </div>
                    <button class="btn" type="submit"> Trimite Cod </button>
                    <button class="btn" type="reset">Reset</button>
                </form>
                    {% if error %}
                        <div class = "error">        
                            <p class = "error" color = "red"><strong>Eroare: </strong> {{ error }} </p>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- <script src = "main_log_in.php"></script> -->
</body>
</html>
