<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Creații Gălățene</title>
    <link href="{{ url_for('static', filename='styles/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/sticky-menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/css/sign-up.css') }}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="/Acasa">Creații Gălățene</a>
            </div>
        </div>
    </nav>
    <div class = "form-sign-up">
        <div class = "container">
                <div class="content">
                    <div class = "text">
                        Înregistrare
                    </div>
                    <form action="/SignUp" method="POST">
                        <div class="field">
                            <span class="fa fa-user"></span>
                            <input type="text" placeholder="Email" name = "email_field" required>
                        </div>

                        <div class = "field">
                            <span class="fa fa-user"></span>
                            <input type="text" placeholder="Nume de utilizator" name = "username_field" required>
                        </div>

                        <div class = "field">
                            <span class = "fa fa-lock"></span>
                            <input type = "text" placeholder = "Ocupație" name = "User_Ocupation" required>
                        </div>
                        
                        <div class="field">
                            <span class="fa fa-lock"></span>
                            <input type="password" placeholder="Parolă" name = "password_field" required>
                        </div>

                        <div class="field">
                            <span class="fa fa-lock"></span>
                            <input type="password" placeholder="Confirmați Parola" name = "confirm_password_field" required>
                        </div>
                        
                        <button class="btn" type="submit">Creați Cont</button>
                        
                        <button class="btn" type="reset">Reset</button>
                    
                    </form>
                    {% if error %}
                         <div class = "error">        
                            <p class = "error" color = "red"><strong>Eroare: </strong> {{ error }} </p>
                         </div>
                    {% endif %}
                    <div class="exist-acc">
                            <a href="/LogIn"><p>Am deja cont</p></a>
                        </div>

                        <div class="pass-unknown">
                            <a href="/AdresaEmailPass"><p>Am uitat parola</p></a>
                        </div>
                </div>
        </div>
    </div>

    <a id="back2Top" title="Back to top" href="#">&#10148;</a>

    <script src="js/jquery.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/jquery.easing.min.js"></script>
    
    <script src="js/sticky-menu.js"></script>
    
    <script src="dab.py"></script>

</body>
</html>